<div class = "col-10 offset-1 col-md-4 offset-md-0 px-2">
  <div class = "row mx-1 lyst-box display-v-middle">
    <div class = "col-3 text-center">
      <h1>💪</h1>
    </div>
    <div class = "col-9">
      <div class = "">
        <p class = "mb-1"><strong><%= link_to "1. Proper craft distilleries", about_path %></strong></p>
        <p class = "mt-0 mb-0">Only the small guys here</p>
      </div>
    </div>
  </div>
</div>
<div class = "col-10 offset-1 col-md-4 offset-md-0 px-2">
  <div class = "row mx-1 lyst-box display-v-middle">
    <div class = "col-3 text-center">
      <h1>🚀</h1>
    </div>
    <div class = "col-9">
      <div class = "">
        <p class = "mb-1"><strong><%= link_to "2. Straight from the distillery", about_path %></strong></p>
        <p class = "mt-0 mb-0">Shipped to you, from the maker</p>
      </div>
    </div>
  </div>
</div>
<div class = "col-10 offset-1 col-md-4 offset-md-0 px-2">
  <div class = "row mx-1 lyst-box display-v-middle">
    <div class = "col-3 text-center">
      <h1>💰</h1>
    </div>
    <div class = "col-9">
      <div class = "">
        <p class = "mb-1"><strong><%= link_to "3. £2 postage max.", deliveries_path %></strong></p>
        <p class = "mt-0 mb-0">No matter how many bottles</p>
      </div>
    </div>
  </div>
</div>