<div class = "container">
  <div class = "row">
    <div class = "col-md-6">
      <h1><%= title 'About Craftr' %></h1>
      <p class = "article-text">
        Craftr is a place to discover craft spirits, recipes and articles, and buy directly from the distilleries.
        <br />
        <br />
        When you purchase on Craftr, we tell the distillery and they ship the products straight to your door. Handy!
        <br />
        <br />
        Keep in touch <%= link_to "on Instagram", "http://www.instagram.com/craftrspirits" %>, or send us <%= mail_to "hello@craftr.co.uk", "an email" %>. We love to hear our customers' thoughts
      </p>
    </div>
  </div>
</div>
