<div class = "background-lightgrey pb-4">
  <div class = "container">
    <div class = "row px-2">
      <div class = "col-md-8 offset-md-2">
        <h1 class = "ml-0 my-3">Contact us</h1>
      </div>
      <div class =  "col-md-8 offset-md-2 lyst-box px-2 mb-2">
        <div class = "row">
          <div class = "col-md-6">
            <h4><%= title 'By email' %></h4>
            <p>Please feel free to drop us an email at <%= mail_to "mike@craftr.co.uk" %></p>
          </div>
          <div class = "col-md-6">
            <h4>Registered address</h4>
            <p>Craftr Limited's registered address is:<br/>
            Hollies Farm Main Street, <br/>
            Eakring, <br/>
            Newark, <br/>
            United Kingdom, <br/>
            NG22 0DD</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>