<div class = "background-lightgrey">
  <div class = "container">
    <div class = "row px-2">
      <div class = "col-md-8 offset-md-2">
        <h1 class = "ml-0 my-3">Craftr deliveries</h1>
      </div>
      <div class =  "col-md-8 offset-md-2 lyst-box px-2 mb-2">
        <h4>1. How much does delivery cost?</h4>
        <p>Deliveries cost £2, no matter how many bottles, even when they come from different distilleries.
          <ul class = "mt-0">
            <li>If you order 1 bottle, delivery is £2</li>
            <li>If you order 2 bottles, delivery is £2</li>
            <li>If you order 3 bottles... you get the idea</li>
          </ul>
        </p>
        <h4 class = "mt-5">2. Where do my deliveries come from?</h4>
        <p>
          Every bottle is shipped straight from the distillery. If you order from multiple different distilleries, you'll receive multiple parcels.
          <br/>
          <br/>
          We aim to give more money back to distilleries than any other online or offline retailer, and setting up this way helps us keep costs down.
          <br/>
          <br/>
          So when you order with Craftr, you know you're supporting independent businesses.
        </p>
        <h4 class = "mt-5">3. How long do deliveries take?</h4>
        <p>
          Deliveries take 3-5 working days. The distilleries we work with are not always major operations - sometimes even just 1-2 people. So, allow 1 day for them to get your parcel ready and get it shipped, and then it's posted to you using Royal Mail 2nd class, which takes 2-4 days.
        </p>
        <h4 class = "mt-5">4. Can I track my order?</h4>
        <p>If your order has been marked as shipped, then it's with Royal Mail and on its way to you. You can't track your order, but have faith that it's inbound!</p>
      </div>
    </div>
  </div>
</div>