<div class = "container">
  <div class = "row">
    <div class = "col-12">
      <h4>Terms</h4>
      <p>1. The promoter is Craftr Limited (company no. 11242128), whose registered office is at Hollies Farm Main Street, Eakring, Newark, United Kingdom, NG22 0DD.</p>

      <p>2. The competition is open to residents of the United Kingdom aged 18 years or over except employees of Craftr Limited and their close relatives and anyone otherwise connected with the organisation or judging of the competition.</p>

      <p>3. There is no entry fee and no purchase necessary to enter this competition.</p>

      <p>4. By entering this competition, an entrant is indicating his/her agreement to be bound by these terms and conditions.</p>

      <p>5. Route to entry for the competition is via <a href="https://www.instagram.com/">https://www.instagram.com</a> or the official Instagram app.</p>

      <p>6. Only one entry will be accepted per person. Multiple entries from the same person will be disqualified.</p>

      <p>7. Closing date for entry will be 13/10/2019 at midnight UK time. After this date the no further entries to the competition will be permitted.</p>

      <p>8. No responsibility can be accepted for entries not received for whatever reason.</p>

      <p>9. The rules of the competition and how to enter are as follows:</p>

      <p>a. The person must follow both @craftrspirits and @twistingspirits on Instagram</p>

      <p>b. The person must like at least 1 of the eligible posts on @craftrspirits or @twistingspirits. Eligible posts include text of how to enter. </p>

      <p>c. The person must comment below either of the posts which describe the competition, tagging a friend who must also be aged 18 or over, and stating which bottle they would prefer as their prize</p>

      <p>10. The promoter reserves the right to cancel or amend the competition and these terms and conditions without notice in the event of a catastrophe, war, civil or military disturbance, act of God or any actual or anticipated breach of any applicable law or regulation or any other event outside of the promoter’s control. Any changes to the competition will be notified to entrants as soon as possible by the promoter.</p>

      <p>11. The promoter is not responsible for inaccurate prize details supplied to any entrant by any third party connected with this competition.</p>

      <p>12. The prize is as follows: the winner may choose 1 bottle of the following 3: Douglas-Fir distilled gin, 70cl, Keffir Lime and Lemongrass distilled gin, 70cl, Earl Grey distilled gin, 70cl.</p>

      <p>13. The prize is as stated and no cash or other alternatives will be offered. The prizes are not transferable. Prizes are subject to availability and we reserve the right to substitute any prize with another of equivalent value without giving notice. Winners will be chosen at random by software, from all entries received and verified by Craftr Limited</p>

      <p>14. The winner will be notified by DM on Instagram within 7 days of the closing date. If the winner cannot be contacted or do not claim the prize within 14 days of notification, we reserve the right to withdraw the prize from the winner and pick a replacement winner.</p>

      <p>15. The winner must provide a valid UK address to which Twisting Spirits will send the prize.</p>

      <p>16. The promoter’s decision in respect of all matters to do with the competition will be final and no correspondence will be entered into.</p>

      <p>17. By entering this competition, an entrant is indicating his/her agreement to be bound by these terms and conditions.</p>

      <p>18. The competition and these terms and conditions will be governed by English law and any disputes will be subject to the exclusive jurisdiction of the courts of England.</p>

      <p>19. The winner agrees to the use of his/her name and image in any publicity material, as well as their entry. Any personal data relating to the winner or any other entrants will be used solely in accordance with current UK data protection legislation and will not be disclosed to a third party without the entrant’s prior consent.</p>

      <p>20. The winner’s name will be available 28 days after closing date by emailing the following address: support@craftr.co.uk</p>

      <p>21. Entry into the competition will be deemed as acceptance of these terms and conditions.</p>

      <p>22. This promotion is in no way sponsored, endorsed or administered by, or associated with, Facebook or Instagram or any other Social Network. You are providing your information to Craftr Limited and Twisting Spirits Limited and not to any other party. The information provided will be used in conjunction with the following Privacy Policy found at http://www.craftr.co.uk/privacy-policy</p>

      <p>23. Craftr Limited‘s decision as to those able to take part and selection of winners is final. No correspondence relating to the competition will be entered into.</p>

      <p>24. Craftr Limited shall have the right, at its sole discretion and at any time, to change or modify these terms and conditions, such change shall be effective immediately upon posting to this webpage.</p>

      <p>25. Craftr Limited also reserves the right to cancel the competition if circumstances arise outside of its control.</p>
    </div>
  </div>
</div>
