<div class = "container">
  <div class = "row">
    <div class = "col-md-6 offset-md-3 my-2">
      <h4><%= title 'Our privacy policy' %></h4>
      <P LANG="en-GB" STYLE="margin-bottom: 0.19in">Your privacy is very
        important to us. We understand you want to remain in control of your
        personal information and that we must earn and retain your trust.
        This privacy policy sets out how CRAFTR limited uses and protects any
        information that you give CRAFTR limited when you use this website.
        We can assure you that we keep your information confidential and do
        not sell or rent out your data or any of our customers’ personal
        information to third parties. 
        </P>
        <P LANG="en-GB" STYLE="margin-top: 0.19in; margin-bottom: 0.19in">CRAFTR
        limited is committed to ensuring that your privacy is protected.
        Should we ask you to provide certain information by which you can be
        identified when using this website, then you can be assured that it
        will only be used in accordance with this privacy statement.</P>
        <P LANG="en-GB" STYLE="margin-top: 0.19in; margin-bottom: 0.19in">CRAFTR
        limited may change this policy from time to time by updating this
        page. You should check this page from time to time to ensure that you
        are happy with any changes. This policy is effective from 1<SUP>st</SUP>
        April 2018.</P>
        <P LANG="en-GB" STYLE="margin-top: 0.19in; margin-bottom: 0.19in">When
        using our website, you are consenting to the practices set forth in
        this privacy policy. Please note that when browsing out site, the
        provision of personal information is not required unless and until
        you sign up to our email newsletter, create an account or choose to
        make a purchase. 
        </P>
        <P LANG="en" STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><B>What
        we collect</B></P>
        <P LANG="en" STYLE="margin-top: 0.19in; margin-bottom: 0.19in">We may
        collect the following personal information that is attributable to
        you, or a specific individual:</P>
        <UL>
          <LI><P LANG="en" STYLE="margin-top: 0.19in; margin-bottom: 0in">name
          and job title</P>
          <LI><P LANG="en" STYLE="margin-bottom: 0.19in">contact information
          including email address, postal address, telephone number</P>
          <LI><P LANG="en" STYLE="margin-bottom: 0.19in">demographic
          information such as postcode, preferences and interests</P>
          <LI><P LANG="en" STYLE="margin-bottom: 0.19in">activity on site such
          as favourite recipes / products, or comments 
          </P>
          <LI><P LANG="en" STYLE="margin-bottom: 0.19in">other information
          relevant to customer surveys and/or offers</P>
        </UL>
        <P LANG="en-GB" STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><SPAN LANG="en">If
        you choose to become a registered customer of CRAFTR limited, you
        must provide us with your name, email address, password and age. This
        information is collected on the registration form for various reasons
        including: (1) for your personal identification; (2) for you to
        engage with our content; (3) to enable us and our partners to contact
        you for customer service purposes; (4) to tailor the content of our
        site to meet our customer’s needs; (5) to share certain information
        with selected partners; (6) to pass to partners for the purpose of
        age verification </SPAN>
        </P>
        <P LANG="en" STYLE="margin-top: 0.19in; margin-bottom: 0.19in">Generic
        information about your computer’s connection to the internet,
        called ‘session data’, will automatically be logged. This
        information is anonymous and can not be used to track your personal
        information. Session data consists of things such as IP address,
        operating system, and type of browser software being used and the
        ctivities conducted by the user while on our site. We collect session
        data because it helps us to adminster our website, and to collate
        statistics in relation to visitor traffic. This information can not
        be linked to you personally. 
        </P>
        <P LANG="en" STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><B>What
        we do with the information we gather</B></P>
        <P LANG="en" STYLE="margin-top: 0.19in; margin-bottom: 0.19in">We
        require this information to understand your needs and provide you
        with a better service, and in particular for the following reasons:</P>
        <UL>
          <LI><P LANG="en" STYLE="margin-top: 0.19in; margin-bottom: 0in">Internal
          record keeping. 
          </P>
          <LI><P LANG="en" STYLE="margin-bottom: 0.19in">We may use the
          information to improve our products and services. 
          </P>
          <LI><P LANG="en-GB" STYLE="margin-bottom: 0.19in"><SPAN LANG="en">We
          may periodically send promotional emails</SPAN><FONT COLOR="#00ff00"><SPAN LANG="en"><B>
          </B></SPAN></FONT><SPAN LANG="en">about new products, special offers
          or other information which we think you may find interesting using
          the email address which you have provided.  </SPAN>
          </P>
          <LI><P LANG="en" STYLE="margin-bottom: 0.19in">From time to time, we
          may also use your information to contact you for market research
          purposes. We may contact you by email, phone, fax or mail. We may
          use the information to customise the website according to your
          interests.</P>
        </UL>
        <P LANG="en" STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><B>Security</B></P>
        <P LANG="en-GB" STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><SPAN LANG="en">We
        are committed to ensuring that your information is secure. In order
        to prevent unauthorised access or disclosure,</SPAN><FONT COLOR="#00ff00"><SPAN LANG="en"><B>
        </B></SPAN></FONT><SPAN LANG="en">we have put in place suitable
        physical, electronic and managerial procedures to safeguard and
        secure the information we collect online. </SPAN>
        </P>
        <P LANG="en" STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><B>How
        we use cookies</B></P>
        <P LANG="en" STYLE="margin-top: 0.19in; margin-bottom: 0.19in">A
        cookie is a small file which asks permission to be placed on your
        computer's hard drive. Once you agree, the file is added and the
        cookie helps analyse web traffic or lets you know when you visit a
        particular site. Cookies allow web applications to respond to you as
        an individual. The web application can tailor its operations to your
        needs, likes and dislikes by gathering and remembering information
        about your preferences. 
        </P>
        <P LANG="en" STYLE="margin-top: 0.19in; margin-bottom: 0.19in">We use
        traffic log cookies to identify which pages are being used. This
        helps us analyse data about web page traffic and improve our website
        in order to tailor it to customer needs. We only use this information
        for statistical analysis purposes and then the data is removed from
        the system. 
        </P>
        <P LANG="en" STYLE="margin-top: 0.19in; margin-bottom: 0.19in">Overall,
        cookies help us provide you with a better website, by enabling us to
        monitor which pages you find useful and which you do not. A cookie in
        no way gives us access to your computer or any information about you,
        other than the data you choose to share with us. 
        </P>
        <P LANG="en" STYLE="margin-top: 0.19in; margin-bottom: 0.19in">You
        can choose to accept or decline cookies. Most web browsers
        automatically accept cookies, but you can usually modify your browser
        setting to decline cookies if you prefer. This may prevent you from
        taking full advantage of the website.</P>
        <P LANG="en" STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><B>Links
        to other websites</B></P>
        <P LANG="en" STYLE="margin-top: 0.19in; margin-bottom: 0.19in">Our
        website may contain links to other websites of interest. However,
        once you have used these links to leave our site, you should note
        that we do not have any control over that other website. Therefore,
        we cannot be responsible for the protection and privacy of any
        information which you provide whilst visiting such sites and such
        sites are not governed by this privacy statement. You should exercise
        caution and look at the privacy statement applicable to the website
        in question.</P>
        <P LANG="en" STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><B>Controlling
        your personal information</B></P>
        <P LANG="en" STYLE="margin-top: 0.19in; margin-bottom: 0.19in">You
        may choose to restrict the collection or use of your personal
        information in the following ways:</P>
        <UL>
          <LI><P LANG="en" STYLE="margin-top: 0.19in; margin-bottom: 0in">whenever
          you are asked to fill in a form on the website, look for the box
          that you can click to indicate that you do not want the information
          to be used by anybody for direct marketing purposes</P>
          <LI><P LANG="en" STYLE="margin-top: 0.19in; margin-bottom: 0.19in">if
          you have previously agreed to us using your personal information for
          direct marketing purposes, you may change your mind at any time by
          writing to or emailing us at hello@craftr.co.uk</P>
        </UL>
        <P LANG="en" STYLE="margin-top: 0.19in; margin-bottom: 0.19in">We
        will not sell, distribute or lease your personal information to third
        parties unless we have your permission or are required by law to do
        so. We may use your personal information to send you promotional
        information about third parties which we think you may find
        interesting if you tell us that you wish this to happen.</P>
        <P LANG="en" CLASS="western" STYLE="margin-bottom: 0in">If you
        believe that any information we are holding on you is incorrect or
        incomplete, please write to or email us as soon as possible, at the
        above address. We will promptly correct any information found to be
        incorrect.</P>
        <P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in"><BR>
        </P>
        <P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in">Thank you
        for using CRAFTR!</P>
    </div>
  </div>
</div>
