<div class = "background-lightgrey pb-4">
  <div class = "container">
    <div class = "row px-2">
      <div class = "col-md-8 offset-md-2">
        <h1 class = "ml-0 my-3">Craftr returns</h1>
      </div>
      <div class =  "col-md-8 offset-md-2 lyst-box px-2 mb-2">
        <p>
          Craftr's mission is to support small distilleries, and help customers enjoy the finest of craft spirits at affordable prices. <br/>
          As such, we do not accept returns for change of mind or similar. <br/>
          CRAFTR only allows buyers to return products for the following reasons: (i) items broken on delivery, (ii) items spoiled on delivery, (iii) out of date products, (iv) mis-described products</p>
        <p>
          To complete a return, please contact support@craftr.co.uk to arrange a return to the distillery.<br/>
          Note, the purchaser must ensure that the product is packaged securely and purchase postage back to the distillery.<br/>
          If product is being returned due to being spoiled, the purchaser must provide evidence of this.<br/>
        </p>
        <p>For queries about delivery, see <%= link_to "here", deliveries_and_shipping_path %>.</p>
      </div>
    </div>
  </div>
</div>
