<div class = "container">
  <div class = "row py-2">
    <div class = "col-md-6 offset-md-3">
      <div class = "row">
        <div class = "col-6 login-signin-btn login-header">
          <h2><%= title 'Log in' %></h2>
        </div>
        <div class = "col-6 login-signin-btn signup-header active">
          <h2>Sign up</h2>
        </div>
      </div>
      <div class = "login-content hidden">
        <%= render 'devise/shared/login_form' %>
      </div>
      <div class = "signup-content">
        <%= render 'devise/shared/signup_form' %>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $( ".login-header" ).click(function() {
      $(this).addClass("active");
      $(".signup-header").removeClass("active");
      $( ".login-content" ).show( "slow", function() {
        // Animation complete.
      // $( ".login-email-field" ).focus();
        // TODO: Focussing currently not working
      });
      $(".signup-content").hide( "slow", function() {

      });
    });
    $( ".signup-header" ).click(function() {
      $(this).addClass("active");
      $(".login-header").removeClass("active");
      $( ".signup-content" ).show( "slow", function() {
        // Animation complete.
      });
      // $( ".signup-email-field" ).focus();
      // TODO: Focussing currently not working
      $(".login-content").hide( "slow", function() {

      });
    });
  });
</script>