<div class = "col-12">
  <hr class = "booyah-line"/>
</div>
<div class = "col-12 text-center">
  <p>Payments processed securely by <i class="fa fa-2x fa-cc-stripe" aria-hidden="true"></i>.</p>

  <p>We accept
    <i class="fa fa-2x fa-cc-visa" aria-hidden="true"></i>
    <i class="fa fa-2x fa-cc-mastercard" aria-hidden="true"></i>
    <i class="fa fa-2x fa-cc-amex" aria-hidden="true"></i>
  </p>
</div>
