<div class = "col-12">
  <hr class = "lyst-line-lightgrey"/>
</div>
<div class = "col-12">
  <div class = "row text-center">
    <div class = "col-12 text-center mt-3 display-v-middle">
      <p class = "mb-0">Payments processed securely by &nbsp</p>
      <i class="fa fa-2x fa-cc-stripe" aria-hidden="true"></i>
    </div>

    <div class = "col-12 text-center mt-1 mb-3 display-v-middle">
      <p class = "mb-0">We accept &nbsp</p>
        <i class="fa fa-2x fa-cc-visa mx-1" aria-hidden="true"></i>
        <i class="fa fa-2x fa-cc-mastercard mx-1" aria-hidden="true"></i>
        <i class="fa fa-2x fa-cc-amex mx-1" aria-hidden="true"></i>
    </div>
  </div>
</div>
