<div class = "col-3">
  <div class = "row my-2">
    <div class = "col-12 text-center card py-1">

      <h6><span class = "text-primary">1.</span> <%= link_to_if(order.order_items.length > 0, "Basket", cart_path) %></h6>
      <% if order.order_items.length > 0 %>
        <i class="fa fa-2x fa-check-circle text-primary" aria-hidden="true"></i>
      <% else %>
        <i class="fa fa-2x fa-circle-o text-primary" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
</div>
<div class = "col-3">
  <div class = "row my-2">
    <div class = "col-12 text-center card py-1">
      <h6><span class = "text-primary">2.</span> <%= link_to_if(order.shipping_type.present?, "Address", checkout_address_path) %></h6>
      <% if order.shipping_address_id.present? %>
        <i class="fa fa-2x fa-check-circle text-primary" aria-hidden="true"></i>
      <% else %>
        <i class="fa fa-2x fa-circle-o" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
</div>
<div class = "col-3">
  <div class = "row my-2">
    <div class = "col-12 text-center card py-1">
      <h6><span class = "text-primary">3.</span> <%= link_to_if(order.shipping_address_id.present?, "Payment", checkout_payment_path) %></h6>
      <% if order.paid %>
        <i class="fa fa-2x fa-check-circle text-primary" aria-hidden="true"></i>
      <% else %>
        <i class="fa fa-2x fa-circle-o" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
</div>
<div class = "col-3">
  <div class = "row my-2">
    <div class = "col-12 text-center card py-1">
      <h6><span class = "text-primary">4.</span> Confirmation</h6>
      <% if order.paid %>
        <i class="fa fa-2x fa-check-circle text-primary" aria-hidden="true"></i>
      <% else %>
        <i class="fa fa-2x fa-circle-o" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
</div>
