<div class = "col-12 text-center">
    <i class="fa fa-2x fa-cc-visa" aria-hidden="true"></i>
    <i class="fa fa-2x fa-cc-mastercard" aria-hidden="true"></i>
    <i class="fa fa-2x fa-cc-amex" aria-hidden="true"></i>
</div>
