<div class = "articles-background">
  <div class = "container">
    <div class = "row pt-5">
      <div class = "col-md-8 offset-md-2 text-center">
        <div class = "mt-5 py-2 px-2">
          <h1 class = "display-4"><span class = "logo-text px-1">Craftr articles</span></h1>
          <h3 class = "text-white my-3"><span class = "background-translucent-black">Thoughtful discussion on all things craft spirit</span></h6>
          <!-- Could probably put this into a partial -->
          <% if @tags.length > 5 %>
            <div class = "row">
              <div class = "col-12 text-center">
                <h5 class = "mt-3 text-white">Top collections</h5>
                <% @tags.each do |tag| %>
                  <%= link_to tag.name.capitalize, article_tag_path(tag.slug), class: "btn btn-secondary" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "container-fluid">
  <div class = "row background-grey">
    <div class = "col-md-10 offset-md-1">
      <h1 class = "display-4">Latest articles</h1>
      <div class = "row">
        <%= render partial: "articles/lister_article", collection: @articles, as: :article %>
      </div>
    </div>
  </div>
</div> 
