<div class = "container-fluid">
  <div class = "row background-grey">
    <div class = "col-md-10 offset-md-1">
      <h3><%= "'#{@tag.name.capitalize}' articles (#{@articles.length})" %></h3> 
      <div class = "row">
        <%= render partial: "articles/lister_article", collection: @articles, as: :article %>
      </div>
    </div>
  </div>
</div> 
