<div class = "col-md-6">
  <div class = "booyah-box px-2 pt-1">
    <small><%= comment.user.email %></small>
    <p class = "mb-1"><%= comment.message %></p>
    <small class = "mt-0">on <%= comment.created_at.strftime('%A, %b %d, %Y') %></small>
  </div>
</div>