<div class = "recipes-background">
  <div class = "container">
    <div class = "row pt-5">
      <div class = "col-md-8 offset-md-2">
        <h1 class = "text-white mt-4 py-5 display-3"><span class = "background-translucent-black px-3 py-2">Craftr recipes</span></h1>
        <h3 class = "text-white"><span class = "background-translucent-black px-3 py-2">Your home for cocktail recipes</span></h6>
        <%= link_to "Add a recipe", new_recipe_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<div class = "container-fluid">
  <div class = "row background-grey">
    <div class = "col-md-10 offset-md-1">
      <h1 class = "display-4">Latest recipes</h1>
      <div class = "row">
        <%= render partial: "recipes/lister_recipe", collection: @recipes, as: :recipe %>
      </div>
    </div>
  </div>
</div> 
