<div class = "container-fluid">
  <div class = "row">
    <div class = "col-12">
      <h1>Craftr's cocktail recipes</h1>
      <div class = "row">
        <%= render partial: "lister_recipe", collection: @recipes, as: :recipe %>
      </div>
    </div>
  </div>
</div> 
