<div class = "recipes-background">
  <div class = "container">
    <div class = "row pt-5">
      <div class = "col-md-6 offset-md-3">
        <h1 class = "text-white mt-5 display-3">Craftr recipes</h1>
        <h3 class = "text-white">Your home for cocktail recipes</h6>
        <%= link_to "Add a recipe", new_recipe_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<div class = "container-fluid">
  <div class = "row">
    <div class = "col-12">
      <h1>Craftr's cocktail recipes</h1>
      <div class = "row">
        <%= render partial: "lister_recipe", collection: @recipes, as: :recipe %>
      </div>
    </div>
  </div>
</div> 
