<div class = "container-fluid">
  <div class = "row background-grey">
    <div class = "col-md-10 offset-md-1">
      <h3><%= title "#{@tag.name.capitalize} recipes" %></h3> 
      <div class = "row">
        <div class = "col-12 text-center">
          <% @tags.each do |tag| %> <!-- rtag context selector applied in controller -->
            <%= link_to tag.name.capitalize, recipe_tag_path(tag.slug), class: "btn btn-secondary" %>
          <% end %>
        </div>
      </div>
      <div class = "row">
        <%= render partial: "recipes/lister_recipe", collection: @recipes, as: :recipe %>
      </div>
    </div>
  </div>
</div> 
