<p>Dear potential customer,</p>

<p>You've left some craft spirits behind! If this was a complete accident, we're not offended - in fact, we're here to help. You can pick up where you left off, <%= link_to "here", root_url %>, or even <%= link_to "go straight to checkout", cart_url %>.</p>

<p>You'll have to be logged in for the magic to work - click "Remember me" when logging in to save some time in the future</p>

<p>Here's what awaits:</p>
<ul>
  <% @order_items.each do |oi| %>
    <li><%= link_to oi.product.name, product_url(oi.product) %> - <%= number_to_currency((oi.product.price / 100).to_f, unit: '£') %></li>
  <% end %>
</ul>

<p>Best wishes,</p>
<p>CRAFTR team</p>
