<p>Dear customer,</p>

<p>3 weeks ago, you made an excellent decision - you ordered craft spirits from <%= link_to "Craftr", "https://www.craftr.co.uk" %>. We hope you've managed to have a sample in the meantime.</p>

<h6>Something for us</h6>
<p>Reviews are what makes the Craftr community great, letting us know what <strong>the best</strong> spirits are.</p>

<p>Let us know what you think about the spirits you bought:</p>
<ul>
  <% @order.sold_items.each do |si| %>
    <li><%= link_to si.product.name.titleize, product_url(si.product) %></li>
  <% end %>
</ul>

<br />
<h6>Something for you</h6>
<p>We've pulled together a load of great recipes for you, so you can make the most of your purchases</p>
<% @order.sold_items.each do |si| %>
  <h6>For <%= si.product.name.titleize %></h6>
  <ol>
    <% si.product.related_recipes.each do |recipe| %>
      <li><%= link_to recipe.name, recipe_url(recipe) %></li>
    <% end %>
  </ol>
  <br />
<% end %>

<p>Best wishes,</p>
<p>The CRAFTR team</p>