<div class = "background-lightgrey">
  <div class = "container">
    <div class = "row">
      <div class = "col-12">
        <h1 class = ""><%= title 'Our mixologists' %></h1>
        <div class = "row">
          <%= render partial: "authors/lister_author", collection: @authors, as: :author %>
        </div>
        <div class = "row">
          <div class = "col-12 text-center">
            <%= will_paginate @authors, :page_links => false %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
