<p>Hi there,</p>

<p>Thanks for registering with us at <%= link_to "craftr.co.uk", "https://www.craftr.co.uk" %></p>

<p>We've got big things planned, and we'll be using this channel to keep you abreast of all our exciting developments, like when you can buy delicious spirits from us.</p>

<p>In the meantime, check us out <%= link_to "on Instagram", "https://www.instagram.com/craftrspirits" %>. 20,000 people think we're worth a follow, so we must be doing something right.</p>

<p>Cheers,</p>
<p>The CRAFTR team</p>