<div class = <%= "batch-#{batch.id}" %>>
  <% if batch.shipped %>
    <div class = "btn btn-success">Shipped</div>
  <% elsif batch.scanform_id.present? %>
    <%= link_to "Mark as shipped", mark_as_shipped_distiller_batch_path(batch), class: "btn btn-primary shipped-toggle d-inline", method: :patch, remote: true %>
  <% else %>
    <div class = "btn btn-secondary">Awaiting label</div>
  <% end %>
</div>

<script>
  $('.shipped-toggle').click(function() {
    $(this).html('<i class="fa fa-spinner fa-pulse" aria-hidden="true"></i>');
  });
</script>