<div class = "container">
  <div class = "row">
    <div class = "col-md-6 offset-md-3 my-3 text-center booyah-box">
      <h1>Oops!</h1>
      <h4>Our bad. Something went wrong on our side.</h4>
      <p>We get automatically notified when this type of thing happens. It's a little embarassing, but we'll work on getting it fixed ASAP.</p>
      <p>In the meantime try visiting our <%= link_to "homepage", root_path, class: "text-primary" %> or <%= mail_to "support@craftr.co.uk", "contact support", class: "text-primary" %></p>
    </div>
  </div>
</div>



