<div class = "background-lightgrey">
  <div class = "container">
    <div class = "row py-2 px-1">
      <div class = "col-md-6 offset-md-3 lyst-box my-2 px-3 py-3">
        <div class = "row">
          <div class = "col-12">
            <h3><%= @order.order_items.length > 0 ? 'Complete your order' : 'Join Craftr' %></h3>
          </div>
        </div>
        <div class = "row">
          <div class = "col-12 px-0">
            <div class = "indent-dot left background-lightgrey"></div><div class = "indent-dot right  background-lightgrey"></div>
            <hr class = "lyst-line-lightgrey my-2"/>
          </div>
        </div>
        <div class = "row">
          <div class = "col-12">
            <input type="radio" id="log-in" name="log-in-sign-up" value="already_have_account" checked>
            <label for="huey"> I already have an account</label>
          </div>
          <div class = "col-12">
            <input type="radio" id="sign-up" name="log-in-sign-up" value="do_not_have_account">
            <label for="huey"> Use a new email address</label>
          </div>
        </div>
        <div class = "login-content">
          <%= render 'devise/shared/login_form' %>
        </div>
        <div class = "signup-content hidden">
          <%= render 'devise/shared/signup_form' %>
        </div>
      </div>
      <% if @order.order_items.length > 0 %>
        <div class = "col-md-3">
          <div class = "row px-2 pr-md-0">
            <%= render partial: "checkout/orders/order_summary", locals: {order: @order} %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function() { 
    $('input[type=radio][name=log-in-sign-up]').change(function() {
      if (this.value == 'already_have_account') {
        $( ".login-content" ).show();
        $(".signup-content").hide();
      }
      else if (this.value == 'do_not_have_account') {
        $( ".signup-content" ).show();
        $(".login-content").hide();
      }
    });
  });
</script>