<div class="row py-5" style="background:transparent url('<%= distillery.banner_image.url %>') no-repeat center center /cover">
  <div class = "col-12 px-0">
    <div class = "background-translucent-black py-3 px-2 mt-5">
      <h1 class = "text-white"><%= distillery.name %></h1>
    </div>
    <div class = "row">
      <div class = "col-8 col-md-6 background-translucent-black py-3 px-2 my-5">
        <p class = "text-white"><%= distillery.description_first %></p>
      </div>
    </div>
  </div>
</div>