<div class = "distilleries-background">
  <div class = "container">
    <div class = "row pt-5">
      <div class = "col-md-8 offset-md-2">
        <div class = "background-translucent-black mt-5 py-2 px-2">
          <h1 class = "text-white display-4">Craftr partner distilleries</h1>
          <h3 class = "text-white">See all the distilleries that Craftr works with</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "container-fluid">
  <div class = "row background-grey">
    <div class = "col-md-10 offset-md-1">
      <h1 class = "display-4">Newest distilleries</h1>
      <div class = "row">
        <%= render partial: "distilleries/lister_distillery", collection: @distilleries, as: :distillery %>
      </div>
    </div>
  </div>
</div> 
