@import "bootstrap";
@import "font-awesome";
@import "cookies_eu";
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Roboto');

$blue:#1565c0;
$charcoal: rgba(36, 32, 33, 0.9);

/*Note translucents do not update automatically */
/* Colour scheme */
$primary: #FF6860;
$secondary: #10304F;
$black: #050505;
$lightgrey: #f5f5f5;
$grey:#ebebeb;
$darkgrey: #7C9299;
$green: #46BA4A;
$red: #BF0303;

/* Text formatting */
html {
  font-size: 14px;
  color: $black;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 15px;
  }
  .article-text {
    line-height: 20px;
    font-size: 15px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 16px;
  }
  .article-text {
    line-height: 25px;
    font-size: 18px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 17px;
  }
  .article-text {
    line-height: 32px;
    font-size: 21px;
  }
}

p {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Archivo Black', sans-serif;
}

.text-white {
  color: white !important;
}

.text-primary {
  color: $primary !important;
}

.text-secondary {
  color: $secondary !important;
}

.text-green {
  color: $green !important;
}

.text-red {
  color: $red !important;
}

.text-blend {
  color: white;
  mix-blend-mode: difference;
}

.logo-text {
  font-family: 'bebas_neueregular', sans-serif;
  border: 5px solid black !important;
  background-color: white;
}

.navbar-menu-text {
  font-size: 12px;
}
.navbar-toggler {
  outline: 0;
  border: none !important;
}

.navbar-toggler span {
   display: block;
   background-color: $black;
   height: 3px;
   width: 25px;
   margin-top: 4px;
   margin-bottom: 4px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   position: relative;
   left: 0;
   opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
   -webkit-transition: transform .35s ease-in-out;
   -moz-transition: transform .35s ease-in-out;
   -o-transition: transform .35s ease-in-out;
   transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}

.help-block {
  color: $charcoal;
  font-style: italic;
}

.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    margin-left: 25px;
    display: block!IMPORTANT;
    border:0px solid black;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: 25px;
    display: block!IMPORTANT;
    border:0px solid black;
}
.owl-prev i, .owl-next i {
  color: $primary;
}

.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}

.clear{
  clear: both;
}

.secondary-nav-content {
  position: relative;
  height: 100%;
}

.secondary-nav {
  white-space: nowrap;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.nav-link {
  font-family: 'Archivo Black', sans-serif !important;
  color: $black !important;
}

.nav-link.active, .nav-link:hover {
  color: $primary !important;
}

.border-white {
  border: 2px solid white !important;
}


/* Buttons */

.btn {
  border-radius: 25px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus
.btn-primary.active {
    background-color: $primary !important;
    border: 2px solid $primary !important;
    color: white;
}

.btn-primary:hover {
  background-color: darken($primary, 5%) !important;
  border-color: darken($primary, 5%) !important;
  color: white;
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus
.btn-secondary.active {
    background-color: white !important;
    border: 2px solid $primary !important;
    color: $primary !important;
}

.btn-secondary:hover {
  background-color: darken($primary, 5%) !important;
  border-color: darken($primary, 5%) !important;
  color: white !important;
}

.btn-success,
.btn-success:active,
.btn-success:visited,
.btn-success:focus
.btn-success.active {
    background-color: $green !important;
    border: 2px solid $green !important;
    cursor: pointer;
}

.btn-success:hover {
  background-color: darken($green, 5%) !important;
  border-color: darken($green, 5%) !important;
  color: white !important;
  cursor: pointer;
}

.btn-search,
.btn-search:active,
.btn-search:visited,
.btn-search:focus
.btn-search.active {
    border-radius: 0px 5px 5px 0px !important;
    background-color: darken($green, 5%) !important;
    border: 2px solid darken($green, 5%) !important;
    color: white;
    cursor: pointer;
}

.btn-search:hover {
  background-color: white !important;
  border-color: black !important;
  color: $black;
}

.btn-green-secondary,
.btn-green-secondary:active,
.btn-green-secondary:visited,
.btn-green-secondary:focus
.btn-green-secondary.active {
    background-color: white !important;
    border: 2px solid $green !important;
    color: $green !important;
    cursor: pointer;
}

.btn-green-secondary:hover {
  background-color: darken($green, 5%) !important;
  border-color: darken($green, 5%) !important;
  color: white !important;
  cursor: pointer;
}


.login-signin-btn {
  cursor: pointer;
}
.login-signin-btn.active {
  color: $primary !important;
}

.btn-wrap-text {
  white-space: normal;
}



/* background colours */

.background-white {
  background-color: white;
}

.background-primary {
  background-color: $primary;
}

.background-secondary {
  background-color: $secondary;
}

.background-blue {
  background-color: $blue;
}

.background-charcoal {
  background-color: $charcoal
}

.background-lightgrey {
  background-color: $lightgrey;
}

.background-grey {
  background-color: $grey;
}

.background-darkgrey {
  background-color: $darkgrey;
}
.background-translucent-black {
  background-color: rgba(0, 0, 0, 0.8);
}

.background-translucent-grey {
  background-color: rgba(255, 255, 255, 0.6);
}

.background-translucent-primary {
  background-color: rgba(255, 104, 96, 0.8);
}

.background-translucent-secondary {
  background-color: rgba(16, 48, 79, 0.7);
}

.ingredient-image {
  border-radius: 5px;
}

.outline-primary {
  border: 5px solid $primary;
}

.outline-secondary {
  border: 5px solid $secondary;
}

.underline-primary {
  text-decoration: underline solid $primary;
}

.underline-secondary {
  text-decoration: underline solid $secondary;
}

.hero-row {
  min-height: 500px;
  max-height: 800px;
}


/* overwrite bootstrap card - must all have !important */
.card {
  background: #fff !important;
  border: none !important;
  border-radius: 8px !important;
  overflow: hidden !important;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.05) !important;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.05) !important;
  transition: box-shadow 0.2s ease-in-out !important;
}

.card:hover {
  -webkit-box-shadow: 0 10px 30px 0 rgba(0,0,0,.1) !important;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.15) !important;
}

.recipes-background {
  background: image_url('recipe_hero.jpg') no-repeat center center fixed;
  min-height: 500px;
  max-height: 800px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.articles-background {
  background: image_url('article_hero.jpg') no-repeat center center fixed;
  min-height: 500px;
  max-height: 800px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  box-shadow: 0 1px 1px rgba(0,0,0,.2)
}

.category-background {
  min-height: 400px;
}

span.help-block {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  display: block;
}

.booyah-box {
  background: #fff;
  border: 0.5px solid #e4e4e4;
  padding: none;
}

.booyah-box:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.lyst-box {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.05);
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.05);
  padding: 10px 0 10px;
}

.lyst-line-lightgrey {
  color: $lightgrey;
  border: 2px solid $lightgrey;
  border-radius: 2px;
}

.lyst-line-grey {
  color: $grey;
  border: 2px solid $grey;
  border-radius: 2px;
}

.booyah-line {
  color: #e4e4e4;
  margin: 0px;
  padding: 0px;
}

.slider-line {
  color: #e4e4e4;
  margin: 0px;
  padding: 0px;
  border-top: 5px solid rgba(0, 0, 0, 0.1);
}

.product-image-large {
  height: 100%;
  background-position: center;
  background-size: cover;
}

.display-v-middle {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.lister-product-image {
  min-height: 200px;
  width: auto;
  overflow: hidden;
}

.lister-product-container {
  position: relative;
}

.lister-product-image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  overflow: hidden;
}

.lister-product-container:hover .lister-product-image-overlay {
  opacity: 1;
}


.distillery-image {
  margin-top: auto;
}

.image-border {
  border: 3px solid black;
}

#distillery-map {
  height: 500px;
}

.nice-padding {
  padding: 5px 5px 5px 5px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.recipe-lister-image {
  height: 200px;
  width: auto;
  min-width: 100%;
}


/* lists */
.no-bullet-list li {
  list-style-type: none;
  padding: none;
}

li::before .ingredient-bullet {
  content: "•"; 
  color: orange;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Always stop links going blue*/
a, a:hover { 
  color: inherit; 
}

/*
.btn-slide {
  box-shadow: inset 0 0 0 0 #D80286;
  -webkit-transition: ease 0.4s;
  -moz-transition: ease 0.4s;
  transition: ease 0.4s;
}

.btn-slide:hover {
  box-shadow: inset 400px 0 0 0 #D80286;
}
*/

.article-text a{
  color: $primary;
}

.article-text.no-link-highlight a{
  color: $black !important;
}

.sticky {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1070;
}

.insta-image-holder{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.insta-image-holder img{
    position:absolute;
}
.insta-area {

}

.insta-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  overflow: hidden;
}

.insta-area:hover .insta-overlay {
  opacity: 1;
}

.insta-area:hover .insta-image {
  opacity: 0.3;
}

/* Taste sliders */
.taste-slider-wrapper {
  position: relative;
  display: block;
}

.taste-slider {
  position: absolute;
}

.hidden {
  display: none;
}

.dropdown-item:hover {
  color: $primary;
}


.pagination { padding: 3px; margin: 3px; justify-content: center;} 
.pagination a{ padding: 2px 5px 2px 5px; margin: 2px; border: 2px solid $primary; text-decoration: none; color: $primary; border-radius: 5px;} 
.pagination a:hover, 
.pagination a:active { border: 2px solid $secondary; color: $secondary; border-radius: 5px;} 
.pagination span.current { padding: 2px 5px 2px 5px; margin: 2px; border: 2px solid darken($primary, 5%); font-weight: bold; background-color: #000099; color: darken($primary, 5%); } 
.pagination span.disabled { padding: 2px 5px 2px 5px; margin: 2px; border: 2px solid #eee; color: #ddd; border-radius: 5px;}

input[type=search] {
  border: 2px solid $grey;
  border-radius: 5px 0px 0px 5px !important;

  -webkit-appearance: none;
}

.voucher-code-box {
  border: 2px solid $grey;
  padding: 5px;
  border-radius: 5px 5px 5px 5px !important;

  -webkit-appearance: none;
}

.indent-dot {
  position:absolute;
  margin-top:-4px;
  margin-left: -12px;
  z-index:100;
  height:25px;
  width:25px;
  border-radius:25px; 
}

.indent-dot.left {
  left: 0%;
}
.indent-dot.right {
  left: 100%;
}

.border-right-grey {
  border-right: 2px solid $charcoal;
}

.border-below-black {
  border-bottom: 1px solid $charcoal; 
}

.dropdown-menu {
  border-radius: 0px !important;
  border-top: 5px solid $primary !important;
  border-bottom: 5px solid $lightgrey !important;
  border-left: 2px solid $lightgrey !important;
  border-right: 2px solid $lightgrey !important;
}