@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'owlcarousel2/owl.carousel';
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Roboto');

$blue:#1565c0;
$grey:#fafafa;

/* Text formatting */

p {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Archivo Black', sans-serif;
}

.text-white {
  color: white;
}

.clear{
  clear: both;
}

/* background colours */

.background-blue {
  background-color: $blue;
}

.background-grey {
  background-color: $grey;
}

.background-translucent-black {
  background-color: rgba(0, 0, 0, 0.8);
}

.home-hero-background {
  background: image_url('home_hero.jpg') no-repeat center center fixed;
  min-height: 500px;
  max-height: 800px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.recipes-background {
  background: image_url('recipe_hero.jpg') no-repeat center center fixed;
  min-height: 500px;
  max-height: 800px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.booyah-box {
  background: #fff;
  border: 0px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: none;
}

.nice-padding {
  padding: 10px 5px 5px 10px;
}

.booyah-box:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.recipe-lister-image {
  height: 200px;
  width: auto;
  min-width: 100%;
}


/* lists */
ul .recipe-ingredients-list {
  list-style-type: none;
}

li::before .ingredient-bullet {
  content: "•"; 
  color: orange;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Always stop links going blue*/
a, a:hover { 
  color: inherit; 
}

