@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Roboto');

$blue:#1565c0;
$charcoal: rgba(36, 32, 33, 0.9);

/*Note translucents do not update automatically */
/* Colour scheme */
$primary: #FF6860;
$secondary: #1B9AAA;
$black: #050505;
$grey:#eeeeee;

/* Text formatting */
html {
  font-size: 14px;
  color: $black;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 15px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 17px;
  }
}

p {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Archivo Black', sans-serif;
}

.text-white {
  color: white;
}

.text-primary {
  color: $primary !important;
}

.logo-text {
  font-family: 'bebas_neueregular', sans-serif;
  border: 5px solid black !important;
  background-color: white;
}

.help-block {
  color: $charcoal;
  font-style: italic;
}

.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    margin-left: 25px;
    display: block!IMPORTANT;
    border:0px solid black;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: 25px;
    display: block!IMPORTANT;
    border:0px solid black;
}
.owl-prev i, .owl-next i {
  color: $primary;
}

.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}

.clear{
  clear: both;
}

.secondary-nav-content {
  position: relative;
  height: 100%;
}

.nav-link.active {
  border-radius: 0px !important;
  color: $primary !important;
  background-color: transparent !important;
  border-bottom: 3px solid $primary;

}


/* Buttons */

.btn {
  border-radius: 5px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus
.btn-primary.active {
    background-color: $primary !important;
    border: 2px solid $primary !important;
}

.btn-primary:hover {
  background-color: darken($primary, 5%) !important;
  border-color: darken($primary, 5%) !important;
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus
.btn-secondary.active {
    background-color: white !important;
    border: 2px solid $primary !important;
    color: $primary !important;
}

.btn-secondary:hover {
  background-color: darken($primary, 5%) !important;
  border-color: darken($primary, 5%) !important;
  color: white !important;
}



/* background colours */

.background-white {
  background-color: white;
}

.background-primary {
  background-color: $primary;
}

.background-secondary {
  background-color: $secondary;
}

.background-blue {
  background-color: $blue;
}

.background-charcoal {
  background-color: $charcoal
}

.background-grey {
  background-color: $grey;
}

.background-translucent-black {
  background-color: rgba(0, 0, 0, 0.8);
}

.background-translucent-primary {
  background-color: rgba(255, 104, 96, 0.8);
}

.background-translucent-secondary {
  background-color: rgba(27, 154, 170, 1);
}

.outline-primary {
  border: 5px solid $primary;
}

.outline-secondary {
  border: 5px solid $secondary;
}

.underline-primary {
  text-decoration: underline solid $primary;
}

.underline-secondary {
  text-decoration: underline solid $secondary;
}

.hero-row {
  min-height: 500px;
}

.recipes-background {
  background: image_url('recipe_hero.jpg') no-repeat center center fixed;
  min-height: 500px;
  max-height: 800px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.articles-background {
  background: image_url('article_hero.jpg') no-repeat center center fixed;
  min-height: 500px;
  max-height: 800px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  box-shadow: 0 1px 1px rgba(0,0,0,.2)
}

.category-background {
  min-height: 400px;
}

.booyah-box {
  background: #fff;
  border: 0.5px solid #e4e4e4;
  padding: none;
}

.booyah-box:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.booyah-line {
  color: #e4e4e4;
  margin: 0px;
  padding: 0px;
}

.slider-line {
  color: #e4e4e4;
  margin: 0px;
  padding: 0px;
  border-top: 5px solid rgba(0, 0, 0, 0.1);
}

.product-image-large {
  height: 100%;
  background-position: center;
  background-size: cover;
}

.lister-product-image {
  min-height: 200px;
  width: auto;
  overflow: hidden;
}

.distillery-image {
  margin-top: auto;
}

#distillery-map {
  height: 500px;
}

.nice-padding {
  padding: 5px 5px 5px 5px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.recipe-lister-image {
  height: 200px;
  width: auto;
  min-width: 100%;
}


/* lists */
.no-bullet-list li {
  list-style-type: none;
}

li::before .ingredient-bullet {
  content: "•"; 
  color: orange;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Always stop links going blue*/
a, a:hover { 
  color: inherit; 
}

/*
.btn-slide {
  box-shadow: inset 0 0 0 0 #D80286;
  -webkit-transition: ease 0.4s;
  -moz-transition: ease 0.4s;
  transition: ease 0.4s;
}

.btn-slide:hover {
  box-shadow: inset 400px 0 0 0 #D80286;
}
*/

.article-text {
  line-height: 32px;
  font-size: 21px;
}

.sticky {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1070;
}

.insta-image-holder{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.insta-image-holder img{
    position:absolute;
}
.insta-area {

}

.insta-image {
  height: auto;
  width: auto;

}

.insta-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  overflow: hidden;
}

.insta-area:hover .insta-overlay {
  opacity: 1;
}

.insta-area:hover .insta-image {
  opacity: 0.3;
}

/* Taste sliders */
.taste-slider-wrapper {
  position: relative;
  display: block;
}

.taste-slider {
  position: absolute;
}

.search-show-hide {
  display: none;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 90%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  border: 1px solid #ccc;
  border-top-color: #07d;
  animation: spinner .6s linear infinite;
}