<div class = "container-fluid">
  <div class = "row">
    <div class = "col-12">
      <h1><%= title 'All categories' %></h1>
      <div class = "row">
        <%= render partial: "lister_category", collection: @categories, as: :category %>
      </div>
    </div>
  </div>
</div>
