<% unless product.dry_to_sweet.blank? %>
  <div class = "row">
    <div class = "col-3 col-md-2 text-right">
      <h5><span class="taste-slider-title" data-toggle="tooltip" title="Crisp & refreshing">Dry</span></h5>
    </div>
    <div class = "col-6 col-md-8">
      <div class = "row">
        <div class = "col-12 taste-slider-wrapper">
          <div class = "taste-slider text-primary" style = "left: <%= ((product.dry_to_sweet.to_f / 10) * 100).to_i.to_s + "%;" %>"><h3>o</h3></div>
          <hr class = "slider-line mt-3"/>
        </div>
      </div>
    </div>
    <div class = "col-3 col-md-2 text-left">
      <h5><span class="taste-slider-title" data-toggle="tooltip" title="For the sweet tooth">Sweet</span></h5>
    </div>
  </div>
<% end %>



<% unless product.subtle_to_intense.blank? %>
  <div class = "row">
    <div class = "col-3 col-md-2 text-right">
      <h5><span class="taste-slider-title" data-toggle="tooltip" title="Light & unitrusive">Subtle</span></h5>
    </div>
    <div class = "col-6 col-md-8">
      <div class = "row">
        <div class = "col-12 taste-slider-wrapper">
          <div class = "taste-slider text-primary" style = "left: <%= ((product.subtle_to_intense.to_f / 10) * 100).to_i.to_s + "%;" %>"><h3>o</h3></div>
          <hr class = "slider-line mt-3"/>
        </div>
      </div>
    </div>
    <div class = "col-3 col-md-2 text-left">
      <h5><span class="taste-slider-title" data-toggle="tooltip" title="Strong & powerful">Intense</span></h5>
    </div>
  </div>
<% end %>


<% unless product.fresh_to_complex.blank? %>
  <div class = "row">
    <div class = "col-3 col-md-2 text-right">
      <h5><span class="taste-slider-title" data-toggle="tooltip" title="Few, clear flavours">Fresh</span></h5>
    </div>
    <div class = "col-6 col-md-8">
      <div class = "row">
        <div class = "col-12 taste-slider-wrapper">
          <div class = "taste-slider text-primary" style = "left: <%= ((product.fresh_to_complex.to_f / 10) * 100).to_i.to_s + "%;" %>"><h3>o</h3></div>
          <hr class = "slider-line mt-3"/>
        </div>
      </div>
    </div>
    <div class = "col-3 col-md-2 text-left">
      <h5><span class="taste-slider-title" data-toggle="tooltip" title="Many complimentary flavours">Complex</h5>
    </div>
  </div>
<% end %>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });
</script>