<div class = "container-fluid">
  <div class = "row">
    <div class = "col-12">
      <h1><%= title 'All products' %></h1>
      <div class = "row">
        <%= render partial: "lister_item", collection: @products, as: :product %>
      </div>
    </div>
  </div>
</div>
