<div class = "row">
  <div class = "col-12 booyah-box">
    <h4>Order summary</h4>
    <% order.order_items.each do |oi| %>
      <div class = "row">
        <div class = "col-12">
          <div class = "d-inline-block">
            <p><%= "#{oi.product.name} * #{oi.quantity}" %></p>  
          </div>
          <div class = "d-inline-block float-right">
            <p><%= number_to_currency((oi.subtotal_in_pence / 100).to_f, unit: "£") %></p>
          </div> 
        </div>
        <div class = "col-12">
          <hr class = "booyah-line" />
        </div>
      </div>
    <% end %>
  </div>
</div>
